/** custom bootstrap theming **/
$theme-colors: (
    "light": whitesmoke,
    "secondary": lightslategrey,
    "info": lightskyblue,
    "primary": steelblue,
    "success": olive,
    "warning": sandybrown,
    "danger": firebrick,
    "dark": #222,
);

/** add bootstrap & font-awesome **/
@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

/*****************
   Main styles
******************/

.jumbotron {
    margin-bottom: 0;
}

/*****************
   Forms styles
******************/

form .form-group > label.required:after,
form legend.required:after {
    content: "*";
}

form .form-group > label,
form legend {
    font-weight: bold;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}

/*****************
   Timeline styles
******************/

.timeline-wrapper {
    overflow-x: auto;
    position: relative;
    background-color: whitesmoke;
    min-height: 500px;
}

.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 2px solid darkslategrey;
    height: 2rem;
    position: sticky;
    top: 0;
    width: fit-content;
    z-index: 10;
    background: rgba(245,245,245,.8);
}

.timeline-events{
    width: fit-content;
    position: relative;
    height: 500px;
}

.character {
    font-size: .8rem;
    margin: 1rem auto;
    margin-bottom: .5rem;
    padding: 0;
    position: absolute;
    opacity: .9;
    z-index: 1;
    background: rgba(176,196,222, .8);//lightsteelblue
    height: 2rem;
}

.character .character-actions {
    position: sticky;
    left: .5rem;
    right: .5rem;
    margin: auto;
    width: fit-content;
}

.character .character-actions > small {
    margin: auto .5rem;
}

.event, .longevent {
    position: absolute;
    height: 100%;
    border-left: 2px solid burlywood;
    border-bottom: 2px solid burlywood;
    top: 0;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: right;
    padding-bottom: 1rem;
    font-size: .9rem;
    line-height: 0rem;
}

.longevent {
    width: auto;
    background: rgba(245,222,179, .8);//burlywood
}
.longevent-content {
    position: absolute;
    bottom: 1rem;
    left: 0;
}

.period {
    height: auto;
    text-align: center;
    width: auto;
    background: #83a4d4;
    border: none;
}

.period h3 {
    display: block;
    bottom: 2rem;
    margin: auto;
    margin-top: 300px;
    font-weight: bolder;
}

.timeline-period {
    width: 50px;/** ECHELLE d'une période **/
    height: .5rem;
    border-left: .1rem solid darkslategrey;
    position: relative;
}

.timeline-period.timeline-period-strong {
    border-left: .4rem solid darkslategrey;
    height: .8rem;
}

.timeline-period.timeline-period-zero {
    border-left: .5rem solid darkslategrey;
    height: 1rem;
}

.timeline-period.timeline-period-light {
    border-left: .3rem solid darkslategrey;
    height: .5rem;
}

.timeline-period.timeline-period-extralight {
    border-left: .2rem solid darkslategrey;
    height: .3rem;
}

.timeline-period > label {
    position: absolute;
    display: block;
    bottom: -1rem;
    left: -1.2rem;
    font-size: .5rem;
    text-align: center;
    margin: auto;
    width: 2rem;
}

.timeline-period.timeline-period-strong > label {
    font-size: .8rem;
    bottom: -1.5rem;
}

.timeline-period.timeline-period-zero > label {
    font-size: 1rem;
    bottom: -1.5rem;
}

.timeline-period.timeline-period-light > label {
    font-size: .7rem;
    bottom: -1.4rem;
}

.timeline-period.timeline-period-extralight > label {
    font-size: .6rem;
    bottom: -1.3rem;
}

.character-birth-0.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0) 100%);
}

.character-birth-0.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-0.character-death-100 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 100%);
}

.character-birth-100.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0.9) 0%, rgba(176,196,222,0) 100%);
}

.character-birth-100.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0.9) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-50.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0) 100%);
}

.character-birth-50.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-50.character-death-100 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 100%);
}

/** Forms filters **/
fieldset.form-group > div {
    max-height: 150px;
    border: 1px solid #EEE;
    padding: .8em;
    overflow: auto;
}

/*****************
   Fixes styles
******************/
