@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/** custom bootstrap theming **/
$linen: linen;
$floralwhite: floralwhite;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "darkgray":   $gray-800,
  "linen":      $linen,
  "floralwhite":$floralwhite
);

/** add bootstrap & font-awesome **/
@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

/*****************
   Extends bootstrap 5
******************/

.border-md-start {
    border-left: 1px solid #dee2e6;
}

.border-md-end {
    border-right: 1px solid #dee2e6;
}

@include media-breakpoint-down(md) {
    .border-md-start {
        border-left: 0 !important;
    }

    .border-md-end {
        border-right: 0 !important;
    }
}

@include media-breakpoint-down(sm) {
    .w-sm-100 {
        width: 100%;
    }
}

.shadow-inset {
    box-shadow: $box-shadow-inset;
}

/*****************
   Main styles
******************/

html {
    scroll-behavior: smooth;
}

.jumbotron {
    margin-bottom: 0;
}

/*****************
   Forms styles
******************/

form .form-label.required:after,
form legend.required:after {
    content: "*";
}

form .form-label,
form legend {
    font-weight: bold;
}

.custom-file-input {
    cursor: pointer;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Choisir...";
}

.custom_form_olddate .form-label {
    font-weight: normal;
}

/*****************
   Timeline styles
******************/

.timeline-wrapper {
    overflow-x: auto;
    background-color: whitesmoke;
    padding: 1rem 0;
}

.timeline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 2px solid darkslategrey;
    height: 2rem;
    width: fit-content;
    z-index: 10;
    background: rgba(245,245,245,.8);
    margin-bottom: .5rem;
}

#timeline-events, #timeline-characters {
    width: fit-content;
    position: relative;
    height: 200px;
}

#timeline-characters {
    width: fit-content;
    position: relative;
    height: 500px;
}

.character {
    font-size: .8rem;
    margin: 1rem auto;
    margin-bottom: .5rem;
    padding: 0;
    position: absolute;
    opacity: .9;
    z-index: 1;
    background: rgba(176,196,222, .8);//lightsteelblue
    height: 2rem;
}

.character .character-actions {
    position: sticky;
    left: .5rem;
    right: .5rem;
    margin: auto;
    width: fit-content;
}

.character .character-actions > small {
    margin: auto .5rem;
}

.event {
    position: absolute;
    height: 100%;
    border-left: 3px solid burlywood;
    bottom: 0;
    border-top-left-radius: .5rem;
}

.event-content {
    width: max-content;
    border: 1px solid burlywood;
    background: rgba(245,222,179, .8);//burlywood
    font-size: .7rem;
    padding: 0 .3rem;
    text-align: center;
    border-radius: .5rem;
}

.longevent {
    position: absolute;
    bottom: 0;
    border-right: 3px solid burlywood;
    border-left: 3px solid burlywood;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.longevent-content {
    width: max-content;
    margin-bottom: 1rem;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    background: rgba(245,222,179, .8);//burlywood
    font-size: .7rem;
    padding: 0 .3rem;
    text-align: center;
    border-radius: .5rem;
}

.period {
    height: auto;
    text-align: center;
    width: auto;
    background: #83a4d4;
    border: none;
}

.period h3 {
    display: block;
    bottom: 2rem;
    margin: auto;
    margin-top: 300px;
    font-weight: bolder;
}

.timeline-period {
    width: 50px;/** ECHELLE d'une période **/
    height: .5rem;
    border-left: .1rem solid darkslategrey;
    position: relative;
}

.timeline-period.timeline-period-strong {
    border-left: .4rem solid darkslategrey;
    height: .8rem;
}

.timeline-period.timeline-period-zero {
    border-left: .5rem solid darkslategrey;
    height: 1rem;
}

.timeline-period.timeline-period-light {
    border-left: .3rem solid darkslategrey;
    height: .5rem;
}

.timeline-period.timeline-period-extralight {
    border-left: .2rem solid darkslategrey;
    height: .3rem;
}

.timeline-period > label {
    position: absolute;
    display: block;
    bottom: -1rem;
    left: -1.2rem;
    font-size: .5rem;
    text-align: center;
    margin: auto;
    width: 2rem;
}

.timeline-period.timeline-period-strong > label {
    font-size: .8rem;
    bottom: -1.5rem;
}

.timeline-period.timeline-period-zero > label {
    font-size: 1rem;
    bottom: -1.5rem;
}

.timeline-period.timeline-period-light > label {
    font-size: .7rem;
    bottom: -1.4rem;
}

.timeline-period.timeline-period-extralight > label {
    font-size: .6rem;
    bottom: -1.3rem;
}

.character-birth-0.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0) 100%);
}

.character-birth-0.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-0.character-death-100 {
    background: linear-gradient(90deg, rgba(176,196,222,0) 0%, rgba(176,196,222,0.9) 100%);
}

.character-birth-100.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0.9) 0%, rgba(176,196,222,0) 100%);
}

.character-birth-100.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0.9) 0%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-50.character-death-0 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0) 100%);
}

.character-birth-50.character-death-50 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 75%, rgba(176,196,222,0.2) 100%);
}

.character-birth-50.character-death-100 {
    background: linear-gradient(90deg, rgba(176,196,222,0.2) 0%, rgba(176,196,222,0.9) 25%, rgba(176,196,222,0.9) 50%, rgba(176,196,222,0.9) 100%);
}

/*****************
   Dashboard styles
******************/

/*****************
   Fixes styles
******************/

// Fix js click on parent button that detect i font awesome class's
// https://stackoverflow.com/a/55628227
i.fa, i.fas {
    pointer-events: none;
}

/*****************
   Animations styles
******************/

@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); } 
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
}