{% extends 'base.html.twig' %}

{% block title %}Supprimer une catégorie{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 text-light">Supprimer une catégorie</h2>
        <div class="card">
            <div class="card-body">
                <p>La catégorie <strong>{{ name }}</strong> a bien été supprimée</p>
                <a href="{{ path('category_read_all') }}" class="btn btn-success">Retour à la liste</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
