{% if categories %}
{% import "/macros/cards.html.twig" as cards %}
{% for category in categories %}
{{ cards.row(category, 'category') }}
{% endfor %}
{% else %}
<p class="alert alert-warning" role="alert">Aucune catégorie</p>
{% endif %}