{% extends 'base.html.twig' %}

{% block title %}Modifier un personnage{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 text-light">Modifier le personnage <span class="display-4">{{ character.name }}</span></h2>
        <div class="card card-body">
            {{ form(form) }}
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('character_form') }}
{% endblock %}
