{% if characters %}
{% import "/macros/cards.html.twig" as cards %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    {% for character in characters %}
    {{ cards.grid(character, 'character') }}
    {% endfor %}
</div>
{% else %}
<p class="alert alert-warning" role="alert">Aucun personnage</p>
{% endif %}