{% extends 'base.html.twig' %}

{% block title %}Liste des personnages{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Liste des personnages</h1>

            <p class="lead">Actions :</p>
            <ul>
                <li>Ajouter un personnage <code><a href="/character/add">ici</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
