{% extends 'base.html.twig' %}

{% block title %}Personnage{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Personnage</h1>

            <p class="lead">Actions :</p>
            <ul>
                <li>Modifier un personnage <code><a href="/character/add">ici</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
