{% extends 'base.html.twig' %}

{% block title %}Import de données{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="mb-2 mt-5"><i class="fas fa-file-import"></i> Import de données</h2>
        <div class="card">
            <div class="card-body">
                <p class="text-muted">
                    Pour commencer à importer des données en provenance d'un export, merci de téléverser le fichier Timeline généré.
                </p>
                {% if form is defined %}
                <hr/>
                {{ form(form) }}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('share') }}
{% endblock %}