{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 text-light">Ajouter un évènement</h2>
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('event_form') }}
{% endblock %}
