{% extends 'base.html.twig' %}

{% block title %}Modifier l'évènement <span class="display-4">{{ event.name }}</span>{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="card card-body">
            {{ form(form) }}
        </div>
    </div>
</main>
{% endblock %}
