{% extends 'base.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2">Modifier l'évènement <span class="display-4">{{ event.name }}</span></h2>
        <div class="card card-body">
            {{ form(form) }}
        </div>
    </div>
</main>
{% endblock %}
