<h2 class="my-2 display-4">Tableau de bord</h2>
<div class="p-4 bg-light shadow-sm rounded">
    <h5>Activité récente</h5>
    <hr>
    <p class="alert alert-warning">Prochainement</p>
</div>
<div class="p-4 bg-floralwhite mt-3 shadow-sm rounded">
    <h5>Statistiques</h5>
    <hr>
    <p class="alert alert-warning">Prochainement</p>
</div>