{% extends 'base.html.twig' %}

{% block title %}Confirmation de ton email{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 text-light">Confirmation de ton email</h2>
        <div class="card">
            <div class="card-body">
                {% if status == 'success' %}
                <div class="alert alert-success">Génial, ton email est confirmé ! Tu peux te connecter par <a href="{{ path('app_login') }}">ici</a> avec ton adresse email</div>
                {% elseif status == 'already' %}
                <div class="alert alert-warning">Oups, cet email est déjà vérifié ! Pour te connecter, c'est par <a href="{{ path('app_login') }}">ici</a></div>
                {% else %}
                <div class="alert alert-danger">Oups, impossible de vérifier ton email ! Merci de vérifier le lien, ou demande un nouveau lien <a class="disabled" href="#">ici</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
