{% extends 'base.html.twig' %}

{% block title %}Modifier ton mot de passe{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2 text-light">Modifier ton mot de passe</h2>
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
