{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2">Inscription</h2>
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
                <div class="form-group float-md-right">
                    <label>Déjà un compte ?</label>
                    <a href="{{ path('app_login') }}" class="btn btn-success"><i class="fas fa-user-circle"></i> Connexion</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
