{% extends 'base.html.twig' %}

{% block title %}Supprimer une frise{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2">Supprimer une frise chronologique</h2>
        <div class="card">
            <div class="card-body">
                <p>La frise <strong>{{ name }}</strong> a bien été supprimée</p>
                <a href="{{ path('timeline_list') }}" class="btn btn-success">Retour à la liste</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
