{% extends 'base.html.twig' %}

{% block title %}Modifier une frise{% endblock %}

{% block container %}
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="my-2">Modifier la frise <span class="display-4">{{ timeline.name }}</span></h2>
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
