{% if timelines %}
{% import "/macros/cards.html.twig" as cards %}
{% for timeline in timelines %}
{{ cards.row(timeline, 'timeline') }}
{% endfor %}
{% else %}
<p class="alert alert-warning" role="alert">Aucune frise chronologique</p>
{% endif %}